<div class="row icy-den" style="width: 100%; margin: auto;">
  <div class="col-md-12">
    <div class="icy-box">
      <p>
        Welcome to my den! I mostly work on NBW pupsitter training, low gen hunter training, and a variety of raise & chase efforts. A few notes about my projects:
      </p>
      <ul>
        <li>Wolves in "Train & Sell" dens will be trained to 100% proficiency, removed from their role, and sold on the next rollover.</li>
        <li>You may DM me about buying a T&S wolf early, but I reserve the right to reject the offer or charge a higher price if replacing them would be inconvenient at the time.</li>
        <li>Raise & Chase puppies are not generally for sale. You're welcome to DM me about any of them, but I reserve the right to keep and chase them as I see fit. This includes enclave puppies (don't enclave something you're gonna want back ;))</li>
        <li>You can find my Raise & Chase records <a href="https://www.wolvden.com/chatter/topic/1024525">here</a>.</li>
      </ul>
      <p>
        Also! If I've found one of your chased wolves and you'd like to buy it back, please DM me! I'm usually happy to negotiate a fair price, generally just enough for me to cover replacing them, or a suitable wolf trade if you've got someone lying around.
      </p>
      <p>
        Thanks for stopping by!
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <tr>
        <th colspan="2">Base Rarity</th>
      </tr>
      <tr>
        <td style="width: 30px;">🤍</td>
        <td>TI - Customization/Starter</td>
      </tr>
      <tr>
        <td>🤎</td>
        <td>TI - Special NBW</td>
      </tr>
      <tr>
        <td>🖤</td>
        <td>TI - Breed-Only</td>
      </tr>
      <tr>
        <td>💛</td>
        <td>TII - Customization</td>
      </tr>
      <tr>
        <td>🧡</td>
        <td>TII - Special NBW</td>
      </tr>
      <tr>
        <td>❤️</td>
        <td>TII - Breed-Only</td>
      </tr>
      <tr>
        <td>💚</td>
        <td>TIII - Applicator</td>
      </tr>
      <tr>
        <td>💙</td>
        <td>TIII - Breed-Only</td>
      </tr>
      <tr>
        <td>💜</td>
        <td>T* - Special</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <tr>
        <th colspan="2">Personality</th>
      </tr>
      <tr>
        <td style="width: 30px;">⭐️</td>
        <td>Friendly</td>
      </tr>
      <tr>
        <td>💗</td>
        <td>Romantic</td>
      </tr>
      <tr>
        <td>🔥</td>
        <td>Aggressive</td>
      </tr>
      <tr>
        <td>☯️</td>
        <td>Stoic</td>
      </tr>
    </table>
    <table class="table table-striped" style="margin-top: 35px;">
      <tr>
        <th colspan="2">Other</th>
      </tr>
      <tr>
        <td style="width: 70px;">1. 😀</td>
        <td>Hunting Team</td>
      </tr>
      <tr>
        <td>1️⃣ - 🔟</td>
        <td>Marking Count</td>
      </tr>
      <tr>
        <td>G#</td>
        <td>Generation</td>
      </tr>
    </table>
  </div>
</div>