.icy-box {
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  text-align: justify;
  outline: 1px solid #990075;
  background-color: #fff5fc;
  color: #990075;
  border: 1px solid white;
  font-family: verdana;
  font-size: 10.5px;
}

.icy-box p {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

.icy-box p:last-child {
  margin: 0;
}

.icy-box ul {
  padding: 0 40px;
}

.icy-box li::marker {
  content: '- '
}