<p style="text-align:center;"><img src="https://i.imgur.com/Gg3c6Xy.png" style="width:638px;" alt="" /><br /></p>
<div class="row icy-den" style="width: 100%; margin: auto;">
  <div class="icy-box">
    <p style="text-align: center;">
      <strong>Please do not ask for handouts</strong><br />
      I know it's rough out there sometimes, but I am but one small me.
    </p>
    <p>
      Heyo! I'm Icy (she/her), a 29 year old software engineer living on the east coast of the US. I've been on Wolvden since 2020, just after the beta, but I took a long break between 2021 and 2023, so I'm still getting back into the roll of things. I tend to be on sporadically all throughout the day as I pop in between work/life stuff, but I'm generally guaranteed to be on at least a few times a day.
    </p>
    <p>
      My DMs are always open and friend requests are welcome, though I would prefer we have some kind of convo prior to that so we can be kind of mutually aware of each other first, ya know?
    </p>
    <p>
      I'm also always open to talking code! I'm a NodeJS dev by trade, but I've had my hands in a wide variety of languages and a long background in HTML/CSS (ignore my basic profile/den - I just don't like a custom layout disrupting my day-to-day lol). I also <i>love</i> teaching, helping with troubleshooting, etc, so if you've got a project you're working on and just want another person to vent to, feel free to loop me in :]
    </p>
    <p>Thanks for stopping by!</p>
  </div>
</div>