<table style="width: 80%; margin: auto; position: relative;">
  <thead style="margin-bottom: 20px;">
    <tr>
      <th style="padding: 0">
        <p style="border-radius: 10px;margin-bottom: 20px;padding: 0;width: 100%;overflow: hidden;">
          <img src="https://gl.githack.com/iceclastic-designs/wolvden-layouts/-/raw/1-simple-thread-layout/styles/img/sample3.jpg">
        </p>
      </th>
    </tr>
  </thead>
  <tbody style="text-align: justify;">
    <tr>
      <td style="padding: 0;">
        <p style="border-radius: 10px;background-color: #f7f3ec;color: #555848;padding: 30px;font-size: 11.5px;line-height: 1.7;font-family: Verdana, Geneva, Tahoma, sans-serif;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non rhoncus ex, ut mattis arcu. Sed feugiat lacus quis suscipit finibus. Phasellus at efficitur libero. Fusce porttitor est et nulla condimentum, in faucibus risus porta. Ut non vestibulum turpis, a dignissim urna. Suspendisse potenti. Curabitur luctus, lorem nec vehicula aliquam, quam lorem suscipit dolor, in vehicula ex diam at lectus. Nulla pharetra arcu eget imperdiet blandit. Pellentesque molestie volutpat purus ut aliquet. Ut magna leo, aliquam id molestie eu, suscipit in justo. Suspendisse hendrerit, ex condimentum viverra porta, tellus quam facilisis risus, eu sollicitudin nunc purus eget augue. Fusce sollicitudin enim in ante pulvinar vehicula. Curabitur ligula leo, consequat ac sagittis ultricies, sodales sit amet metus. Morbi finibus tellus ac diam euismod, eleifend fringilla lacus vestibulum. Nunc vehicula sollicitudin nunc, et ullamcorper libero varius dictum.
        </p>
      </td>
    </tr>
  </tbody>
</table>