<table style="
  width: 100%;
  border-spacing: 15px;
  border-collapse: separate;
  border: 1px solid #393E41;
  background-color: #687278;
  color: #393E41;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11.5px;
">
  <tbody>
    <tr>
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                background-color: #393E41;
                text-align: center;
                vertical-align: middle;
                font-size: 16px;
                font-weight: bold;
                font-family: 'Courier New', Courier, monospace;
                color: #F6F5F4;
              ">
                It's Icy auction time, baby~
              </td>
            </tr>
            <tr>
              <td colspan="2" style="
                background-color: #D3D0CB;
                text-align: center;
                vertical-align: middle;
                font-size: 11px;
              ">
                I've got too many cute pups and a bad hoarding habit, so it's time to host my first auction!
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td style="
                background-color: #D3D0CB;
                text-align: center;
                vertical-align: middle;
                font-size: 11px;
                width: 25%;
              ">
                <b>SB:</b> Starting Bid
              </td>
              <td style="
                background-color: #D3D0CB;
                text-align: center;
                vertical-align: middle;
                font-size: 11px;
              ">
                If no one else has bid, you can start with this bid!
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                text-align: center;
                vertical-align: middle;
                font-size: 11px;
              ">
                <b>CB:</b> Current Bid
              </td>
              <td style="
                background-color: #D3D0CB;
                text-align: center;
                vertical-align: middle;
                font-size: 11px;
              ">
                The current highest bid. Any following bid must be CB + MI.
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                text-align: center;
                vertical-align: middle;
                font-size: 11px;
              ">
                <b>AB:</b> Auto Buy
              </td>
              <td style="
                background-color: #D3D0CB;
                text-align: center;
                vertical-align: middle;
                font-size: 11px;
              ">
                Don't want to bid? You can pay this amount to purchase this wolf instantly!
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                text-align: center;
                vertical-align: middle;
                font-size: 11px;
              ">
                <b>MI:</b> Minimum Increase<br />
                <i>50% of the starting bid</i>
              </td>
              <td style="
                background-color: #D3D0CB;
                text-align: center;
                vertical-align: middle;
                font-size: 11px;
              ">
                The minimum amount you must increase from the last bid
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                text-align: center;
                vertical-align: middle;
                font-size: 11px;
              ">
                <b>GC:SC Conversion</b><br />
                <i>1GC = 75SC</i>
              </td>
              <td style="
                background-color: #D3D0CB;
                text-align: center;
                vertical-align: middle;
                font-size: 11px;
              ">
                You can pay with any combination of GC and SC.
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                background-color: #D3D0CB;
                vertical-align: middle;
                font-size: 11px;
              ">
                <p style="
                  text-align: center;
                  font-weight: bold;
                  text-decoration: underline;
                ">
                  Rules
                </p>
                <ul>
                  <li>Be respectful! Any harassing other bidders in this thread will get you blacklisted.</li>
                  <li>Do not beg or whine please. If you're struggling, you may DM me directly, but please do not make other members uncomfortable.</li>
                  <li>Only bid what you have!</li>
                  <li>No retracting bids. If you feel you have a legitimate reason, you may DM me, but I will have the final decision.</li>
                  <li>This auction will end <b>November 20th, 18:00 Wolvden Time</b>.</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com">Wolf Name</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 2GC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> 4GC - <a href="https://www.wolvden.com">Iceclastic (#22924)</a>
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 15GC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                width: 25%;
                height: 25%;
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/h/fe/57/af/fe57afba3d4899368d21bf6bb1c0ce38c64eb280.563203.1605395399.png" />
              </td>
              <td rowspan="6" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://i.imgur.com/erOQa1Z.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                <b>Pewter</b><br />
                <i>Tier II | Breed-only</i>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Male
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                7 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                284 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Aggressive
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>