<table style="
  width: 100%;
  border-spacing: 15px;
  border-collapse: separate;
  border: 1px solid #393E41;
  background-color: #687278;
  color: #393E41;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11.5px;
">
  <tbody>
    <tr id="header">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                background-color: #393E41;
                text-align: center;
                vertical-align: middle;
                font-size: 16px;
                font-weight: bold;
                font-family: 'Courier New', Courier, monospace;
                color: #F6F5F4;
              ">
                Tier I
              </td>
            </tr>
            <tr>
              <td colspan="2" style="
                background-color: #D3D0CB;
                text-align: center;
                vertical-align: middle;
                font-size: 11px;
              ">
                <b>MI:</b> 10SC
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="chala">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/548345">Chala</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 20SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> --</a>
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 150SC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                width: 25%;
                height: 25%;
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/h/21/d6/1f/21d61fa70d03f36d884a04c9acf2467bcb4c2f5c.548345.1605368033.png" />
              </td>
              <td rowspan="6" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://i.imgur.com/MQdizsM.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                <b>Honey</b><br />
                <i>Tier I</i>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Male
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                5 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                256 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                ⭐️ Observant
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="bocha">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/548344">Bocha</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 20SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> --</a>
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 150SC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                width: 25%;
                height: 25%;
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/h/b8/b2/7f/b8b27fc1bfbbce7aacc1a4147d70145c7413f44d.548344.1605368032.png" />
              </td>
              <td rowspan="6" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://i.imgur.com/Jv82pYc.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                <b>Chocolate</b><br />
                <i>Tier I | Breed-only</i>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Male
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                5 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                250 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                ⭐️ Adventurous
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="baron">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <s><a href="https://www.wolvden.com/wolf/578634">Baron</a></s> - AB:  Vidofnir (#18434)
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 20SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> 20SC - <a href="https://www.wolvden.com/profile/23764">Novigrad (#23764)</a>
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 150SC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                width: 25%;
                height: 25%;
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/h/cb/00/76/cb0076a70cdce57da3d6cf54c8093ebd924803a8.578634.1605368036.png" />
              </td>
              <td rowspan="6" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://i.imgur.com/2NxLFUf.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                <b>Blue</b><br />
                <i>Tier I | Breed-only</i>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Male
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                9 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                220 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                🔥 Selfish
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="jachin">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/534409">Jachin</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 20SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> --</a>
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 150SC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                width: 25%;
                height: 25%;
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/h/b7/db/ab/b7dbabe6a88cbf0353951a2e49eb292483226ada.534409.1605368040.png" />
              </td>
              <td rowspan="6" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://i.imgur.com/8y7rnh9.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                <b>Shell</b><br />
                <i>Tier I | Breed-only</i>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Male
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                6 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                257 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                ⭐️ Scatterbrained
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="boaz">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/534408">Boaz</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 20SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> --</a>
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 150SC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                width: 25%;
                height: 25%;
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/h/f2/38/73/f238738a9a0e2017cea47473c7c69e0c28615f4f.534408.1605368037.png" />
              </td>
              <td rowspan="6" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://i.imgur.com/WNfotwo.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                <b>Gold Lighter</b><br />
                <i>Tier I</i>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Female
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                7 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                257 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                ⭐️ Lazy
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p style="padding: 0; text-align: center; font-size: 10px">
  Table by <a href="https://www.wolvden.com/profile/22924"><b>Iceclastic</b> (#22924)</a>
</p>