<table style="
  width: 100%;
  border-spacing: 15px;
  border-collapse: separate;
  border: 1px solid #393E41;
  background-color: #687278;
  color: #393E41;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11.5px;
">
  <tbody>
    <tr id="header">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #F6F5F4;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                background-color: #393E41;
                text-align: center;
                vertical-align: middle;
                font-size: 16px;
                font-weight: bold;
                font-family: 'Courier New', Courier, monospace;
                color: #F6F5F4;
              ">
                Flatsales
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="sia">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/704517">Sia</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>Price:</b> 40SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>Chase date:</b> Nov 20th, 18:00
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>Wean date:</b> Nov 20th
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                width: 25%;
                height: 25%;
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/h/a2/02/a8/a202a8ae4efd275075ac5d575bb6fae67954e893.704517.1605484690.png" />
              </td>
              <td rowspan="6" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://i.imgur.com/jHobF5m.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                <b>Gold Lighter</b><br />
                <i>Tier I</i>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Female
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                4 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                276 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                ⭐️ Fair
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="arlington">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <s><a href="https://www.wolvden.com/wolf/688017">Arlington</a></s> - SOLD! - <a href="https://www.wolvden.com/profile/18876">Pine (#18876)</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>Price:</b> 35SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>Chase date:</b> Nov 20th, 18:00
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>Wean date:</b> Nov 19th
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                width: 25%;
                height: 25%;
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/h/4a/aa/ad/4aaaad5f6b2273f3b80a546045e3bf1dc8ac8274.688017.1605367547.png" />
              </td>
              <td rowspan="6" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://i.imgur.com/PcYER1c.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                <b>Khaki</b><br />
                <i>Tier I</i>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Female
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                9 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                229 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                💗 Keen
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="tucson">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/688018">Tucson</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>Price:</b> 25SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>Chase date:</b> Nov 20th, 18:00
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b><a href="https://www.wolvden.com/trade/607027">Trade Link</a></b>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                width: 25%;
                height: 25%;
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/h/11/18/44/111844a15abbc313b6a7c767ab8493cefc700cb4.688018.1605367571.png" />
              </td>
              <td rowspan="6" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://i.imgur.com/5cT9Qug.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                <b>Glaucous</b><br />
                <i>Tier I</i>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Female
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                3 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                234 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                💗 Trusting
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="crouka">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/619518"><s>Crouka</s></a> - SOLD
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>Price:</b> 30SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>Chase date:</b> Nov 20th, 18:00
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b><a href="https://www.wolvden.com/trade/573952">Trade Link</a></b>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                width: 25%;
                height: 25%;
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/h/98/72/11/987211aa858972a5b8ab01e53a1832a48cf0ee25.619518.1605492380.png" />
              </td>
              <td rowspan="6" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://i.imgur.com/DYAcY9Y.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                <b>Gray</b><br />
                <i>Tier I</i>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Male
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                9 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                235 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                ⭐️ Lazy
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="tali">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/444849">Tali</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>Price:</b> 30SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>Chase date:</b> Nov 20th, 18:00
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b><a href="https://www.wolvden.com/trade/573960">Trade Link</a></b>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                width: 25%;
                height: 25%;
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/h/86/bf/49/86bf49729a41e5820e39c9c6af26ac179d29e753.444849.1605368028.png" />
              </td>
              <td rowspan="6" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://i.imgur.com/bB27sEv.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                <b>Skarn</b><br />
                <i>Tier I</i>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Female
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                5 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                227 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                ⭐️ Adventurous
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="tallulah">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/688022">Tallulah</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>Price:</b> 20SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>Chase date:</b> Nov 20th, 18:00
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b><a href="https://www.wolvden.com/trade/607041">Trade Link</a></b>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                width: 25%;
                height: 25%;
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/h/fb/27/94/fb2794396ba00087f9c9c3c97e6918f22967b3cf.688022.1605494847.png" />
              </td>
              <td rowspan="6" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://i.imgur.com/mEz6LkW.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                <b>Dust</b><br />
                <i>Tier I</i>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Male
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                4 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                261 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                ☯️ Independent
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="oakland">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/688016">Oakland</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>Price:</b> 30SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>Chase date:</b> Nov 20th, 18:00
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b><a href="https://www.wolvden.com/trade/607130">Trade Link</a></b>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                width: 25%;
                height: 25%;
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/h/d4/1d/9d/d41d9d7b7ce6c6c330ba698b527793dce92430c2.688016.1605367564.png" />
              </td>
              <td rowspan="6" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://i.imgur.com/XaOeNWR.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                <b>Blue</b><br />
                <i>Tier I | Breed-only</i>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Female
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                5 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                232 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                💗 Capable
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p style="padding: 0; text-align: center; font-size: 10px">
  Table by <a href="https://www.wolvden.com/profile/22924"><b>Iceclastic</b> (#22924)</a>
</p>