<table style="width:100%;border-spacing:1px;border-collapse:separate;border:1px solid #ffffff;background-color:#0b0b0b;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:11.5px;">
  <tbody>
    <tr>
      <td style="padding:0;">
        <img src="https://i.imgur.com/TMlUu1J.png" alt="" />
      </td>
    </tr>
    <tr>
      <td style="padding:20px;">
        <table style="width:100%;border-spacing:1px;border-collapse:separate;background-color:#d8e2e4;">
          <tbody>
            <tr>
              <td style="background-color:#64758f;color:#d8e2e4;text-align:center;font-size:18px;font-weight:bold;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                ~Iceclastic's Raise & Chase Project~
              </td>
            </tr>
            <tr>
              <td style="background-color:#b9c7d0;color:#1c202c;text-align:justify">
                <p>
                  I've been off Wolvden for quite a while, but I've been really excited to see all the Raise & Chase efforts! Some lovely person chased a Fox lady that became my first TIII and I'm excited to perhaps do the same for someone else.
                </p>
                <p>
                  There are 3 types of chased wolves I'll be tracking here: Raise & Chase, Buy & Chase, and Resets.
                </p>
                <p>
                  <b>Raise & Chase:</b> These will be any TII or TIII wolves I breed with 5+ markings. I'll be making an effort to breed for a variety of markings, eyes, etc, but I'll follow my general 5+ rule for anything I breed.
                </p>
                <p>
                  <b>Buy & Chase:</b> These will be TII (or the rare TIII) wolves I find in the TC for cheap who I'd consider good R&C candidates (7+ markings, high gen, low stat, non-muties, older pups, etc). I do not expect any discount or preferential treatment on sales of any of my found B&C wolves as I put in limited work. I'm simply buying up otherwise unwanted wolves whenever I have the extra cash.
                </p>
                <p>
                  <b>Resets:</b> These will be my own aged out TII or TIII wolves who I wouldn't otherwise save in my dynasty. They will be chased any time after 5 years, which will mean an age reroll when they're found as NBWs.
                </p>
                If you find one of my chased wolves, please let me know through my DMs! I'd love to see where everyone ends up, and I may even be interested in buying a few back if the finder doesn't plan to keep them :]
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td style="padding:20px;">
        <table style="width:100%;border-spacing:1px;border-collapse:separate;background-color:#d8e2e4;">
          <tbody>
            <tr>
              <td style="background-color:#b9c7d0;color:#1c202c;text-align:center;">
                <b>PLEASE DO NOT REPLY.</b>
                <br />
                The thread will be edited and bumped instead of adding replies for each chase for readability.
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding:0;">
        <img src="https://i.imgur.com/lBgvZjK.png" alt="" />
      </td>
    </tr>
  </tbody>
</table>
<p style="padding:0;text-align:center;font-size:10px;">
  Table by <a href="https://www.wolvden.com/profile/22924"><b>Iceclastic</b> (#22924)</a>
</p>