<table style="width:100%;border-spacing:1px;border-collapse:separate;border:1px solid #ffffff;background-color:#0b0b0b;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:11.5px;">
  <tbody>
    <tr>
      <td style="padding:0;">
        <img src="https://i.imgur.com/TMlUu1J.png" alt="" />
      </td>
    </tr>

    <tr>
      <td style="padding:20px 20px 0 20px;">
        <table style="width:100%;border-spacing:1px;border-collapse:separate;background-color:#d8e2e4;">
          <tbody>
            <tr>
              <td style="background-color:#64758f;color:#d8e2e4;text-align:center;font-size:18px;font-weight:bold;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                Raise & Chase
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table style="width:100%;border-spacing:20px 0px;border-collapse:separate;">
          <tbody>
            <tr>
              <td>
                <table style="width:100%;border-spacing:2px;border-collapse:separate;background-color:#d8e2e4;color:#1c202c;">
                  <tbody>
                    <tr>
                      <td rowspan="4" style="width:25%;height:25%;padding:0;text-align:center;vertical-align:middle;">
                        <img src="https://i.imgur.com/eJlKHiz.png" alt="" />
                      </td>
                      <td style="background-color:#F6F5F4;padding:0;text-align:center;vertical-align:middle;font-size:14px;font-weight:bold;">
                        Unnamed
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Male || 1 years 0 months
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <b>Tuff</b> || 4M || G10
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <b>Chased:</b> 2023-06-03 || <b>Status:</b> <i>Unknown</i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <spoiler text="Details">
                  <table style="width:100%;border-spacing:2px;border-collapse:separate;background-color:#d8e2e4;color:#1c202c;">
                    <tr>
                      <td colspan=4 style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <img src="https://i.imgur.com/QFWrQ4c.png" alt="" />
                      </td>
                    </tr>
                    <tr>
                      <td colspan=4 style="background-color:#F6F5F4;padding:10px;text-align:center;vertical-align:middle;font-size:11px;font-weight:bold;">
                        Looks
                      </td>
                    </tr>
                    <tr>
                      <td style="width:60px;background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Eyes:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Brown
                      </td>
                      <td style="width:60px;background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Nose:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Black
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Skin:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Marbled
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Claws:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Bone
                      </td>
                    </tr>
                    <tr>
                      <td colspan=4 style="background-color:#F6F5F4;padding:10px;text-align:center;vertical-align:middle;font-size:11px;font-weight:bold;">
                        Markings
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 1:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Cream Irish (86% : T0)
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 6:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 2:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 7:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Gray Highlights (41% : T1)
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 3:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 8:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Black Snout (78% : T1)
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 4:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Auburn Dilution (83% : T6)
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 9:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 5:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 10:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                  </table>
                </spoiler>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td style="padding:0;">
        <img src="https://i.imgur.com/lBgvZjK.png" alt="" />
      </td>
    </tr>
  </tbody>
</table>
<p style="padding:0;text-align:center;font-size:10px;">
  Table by <a href="https://www.wolvden.com/profile/22924"><b>Iceclastic</b> (#22924)</a>
</p>