<!-- big top - https://i.imgur.com/RYdWS8c.png -->
<!-- small top - https://i.imgur.com/TMlUu1J.png -->
<!-- bottom - https://i.imgur.com/lBgvZjK.png -->
<!-- HTML minifier http://kangax.github.io/html-minifier/ -->

<table style="width:100%;border-spacing:1px;border-collapse:separate;border:1px solid #ffffff;background-color:#0b0b0b;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:11.5px;">
  <tbody>
    <tr>
      <td style="padding:0;">
        <img src="https://i.imgur.com/TMlUu1J.png" alt="" />
      </td>
    </tr>
    <tr>
      <td style="padding:20px;">
        <table style="width:100%;border-spacing:1px;border-collapse:separate;background-color:#d8e2e4;">
          <tbody>
            <tr>
              <td style="background-color:#64758f;color:#d8e2e4;text-align:center;font-size:18px;font-weight:bold;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                ~Iceclastic's Raise & Chase Project~
              </td>
            </tr>
            <tr>
              <td style="background-color:#b9c7d0;color:#1c202c;text-align:justify">
                <p>
                  I've been off Wolvden for quite a while, but I've been really excited to see all the Raise & Chase efforts! Some lovely person chased a Fox lady that became my first TIII and I'm excited to perhaps do the same for someone else.
                </p>
                <p>
                  I'll be keeping track of my chased wolves here. I'm making an effort to chase TII and TIII with high or uncommon markings, eyes, claws, etc, but I'll likely be chasing old hunters for resets and such. If I start a specific R&C project, I'll keep track of it here as well.
                </p>
                If you find one of my chased wolves, please let me know through my DMs! I'd love to know where the kids end up :]
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding:20px 20px 0 20px;">
        <table style="width:100%;border-spacing:1px;border-collapse:separate;background-color:#d8e2e4;">
          <tbody>
            <tr>
              <td style="background-color:#64758f;color:#d8e2e4;text-align:center;font-size:18px;font-weight:bold;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                TII
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <!-- Start Generic -->
    <tr>
      <td>
        <table style="width:100%;border-spacing:20px 0px;border-collapse:separate;">
          <tbody>
            <tr>
              <td>
                <table style="width:100%;border-spacing:2px;border-collapse:separate;background-color:#d8e2e4;color:#1c202c;">
                  <tbody>
                    <tr>
                      <td rowspan="4" style="width:25%;height:25%;padding:0;text-align:center;vertical-align:middle;">
                        <img src="https://i.imgur.com/JOEzrvS.png" alt="" />
                      </td>
                      <td style="background-color:#F6F5F4;padding:0;text-align:center;vertical-align:middle;font-size:14px;font-weight:bold;">
                        Name
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Gender || x years x months
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <b>Base</b> || xM || Gx
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <b>Chased:</b> <i>TBD</i> || <b>Status:</b> <i>Unknown</i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <spoiler text="Details">
                  <table style="width:100%;border-spacing:2px;border-collapse:separate;background-color:#d8e2e4;color:#1c202c;">
                    <tr>
                      <td colspan=4 style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <img src="https://i.imgur.com/7HrLOyf.png" alt="" />
                      </td>
                    </tr>
                    <tr>
                      <td colspan=4 style="background-color:#F6F5F4;padding:10px;text-align:center;vertical-align:middle;font-size:11px;font-weight:bold;">
                        Looks
                      </td>
                    </tr>
                    <tr>
                      <td style="width:60px;background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Eyes:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="width:60px;background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Nose:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Skin:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Claws:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                    <tr>
                      <td colspan=4 style="background-color:#F6F5F4;padding:10px;text-align:center;vertical-align:middle;font-size:11px;font-weight:bold;">
                        Markings
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 1:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 6:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 2:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 7:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 3:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 8:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 4:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 9:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 5:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 10:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                  </table>
                </spoiler>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <!-- End Generic -->
    
    <tr>
      <td style="padding:20px;">
        <table style="width:100%;border-spacing:1px;border-collapse:separate;background-color:#d8e2e4;">
          <tbody>
            <tr>
              <td style="background-color:#b9c7d0;color:#1c202c;text-align:center;">
                <b>PLEASE DO NOT REPLY.</b>
                <br />
                The thread will be edited and bumped instead of adding replies for each chase for readability.
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding:0;">
        <img src="https://i.imgur.com/lBgvZjK.png" alt="" />
      </td>
    </tr>
  </tbody>
</table>
<p style="padding:0;text-align:center;font-size:10px;">
  Table by <a href="https://www.wolvden.com/profile/22924"><b>Iceclastic</b> (#22924)</a>
</p>