<!-- big top - https://i.imgur.com/RYdWS8c.png -->
<!-- small top - https://i.imgur.com/TMlUu1J.png -->
<!-- bottom - https://i.imgur.com/lBgvZjK.png -->

<table style="width:100%;border-spacing:1px;border-collapse:separate;border:1px solid #ffffff;background-color:#0b0b0b;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:11.5px;">
  <tbody>
    <tr>
      <td style="padding:0;">
        <img src="https://i.imgur.com/TMlUu1J.png" alt="" />
      </td>
    </tr>
    <tr>
      <td style="padding:20px;">
        <table style="width:100%;border-spacing:1px;border-collapse:separate;background-color:#d8e2e4;">
          <tbody>
            <tr>
              <td style="background-color:#64758f;color:#d8e2e4;text-align:center;font-size:18px;font-weight:bold;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                ~Iceclastic's Raise & Chase Project~
              </td>
            </tr>
            <tr>
              <td style="background-color:#b9c7d0;color:#1c202c;text-align:justify">
                <p>
                  I've been off Wolvden for quite a while, but I've been really excited to see all the Raise & Chase efforts! Some lovely person chased a Fox lady that became my first TIII and I'm excited to perhaps do the same for someone else.
                </p>
                <p>
                  There are 3 types of chased wolves I'll be tracking here: Raise & Chase, Buy & Chase, and Resets.
                </p>
                <p>
                  <b>Raise & Chase:</b> These will be any TII or TIII wolves I breed with 5+ markings. I'll be making an effort to breed for a variety of markings, eyes, etc, but I'll follow my general 5+ rule for anything I breed.
                </p>
                <p>
                  <b>Buy & Chase:</b> These will be TII (or the rare TIII) wolves I find in the TC for cheap who I'd consider good R&C candidates (7+ markings, high gen, low stat, non-muties, older pups, etc). I do not expect any discount or preferential treatment on sales of any of my found B&C wolves as I put in limited work. I'm simply buying up otherwise unwanted wolves whenever I have the extra cash.
                </p>
                <p>
                  <b>Resets:</b> These will be my own aged out TII or TIII wolves who I wouldn't otherwise save in my dynasty. They will be chased any time after 5 years, which will mean an age reroll when they're found as NBWs.
                </p>
                If you find one of my chased wolves, please let me know through my DMs! I'd love to see where everyone ends up, and I may even be interested in buying a few back if the finder doesn't plan to keep them :]
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding:20px 20px 0 20px;">
        <table style="width:100%;border-spacing:1px;border-collapse:separate;background-color:#d8e2e4;">
          <tbody>
            <tr>
              <td style="background-color:#64758f;color:#d8e2e4;text-align:center;font-size:18px;font-weight:bold;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                Raise & Chase
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table style="width:100%;border-spacing:20px 0px;border-collapse:separate;">
          <tbody>
            <tr>
              <td>
                <table style="width:100%;border-spacing:2px;border-collapse:separate;background-color:#d8e2e4;color:#1c202c;">
                  <tbody>
                    <tr>
                      <td rowspan="4" style="width:25%;height:25%;padding:0;text-align:center;vertical-align:middle;">
                        <img src="https://i.imgur.com/eJlKHiz.png" alt="" />
                      </td>
                      <td style="background-color:#F6F5F4;padding:0;text-align:center;vertical-align:middle;font-size:14px;font-weight:bold;">
                        Unnamed
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Male || 1 years 0 months
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <b>Tuff</b> || 4M || G10
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <b>Chased:</b> <i>2023-06-03</i> || <b>Status:</b> <i>Unknown</i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <spoiler text="Details">
                  <table style="width:100%;border-spacing:2px;border-collapse:separate;background-color:#d8e2e4;color:#1c202c;">
                    <tr>
                      <td colspan=4 style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <img src="https://i.imgur.com/QFWrQ4c.png" alt="" />
                      </td>
                    </tr>
                    <tr>
                      <td colspan=4 style="background-color:#F6F5F4;padding:10px;text-align:center;vertical-align:middle;font-size:11px;font-weight:bold;">
                        Looks
                      </td>
                    </tr>
                    <tr>
                      <td style="width:60px;background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Eyes:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Brown
                      </td>
                      <td style="width:60px;background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Nose:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Black
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Skin:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Marbled
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Claws:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Bone
                      </td>
                    </tr>
                    <tr>
                      <td colspan=4 style="background-color:#F6F5F4;padding:10px;text-align:center;vertical-align:middle;font-size:11px;font-weight:bold;">
                        Markings
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 1:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Cream Irish (86% : T0)
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 6:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 2:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 7:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Gray Highlights (41% : T1)
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 3:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 8:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Black Snout (78% : T1)
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 4:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Auburn Dilution (83% : T6)
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 9:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 5:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 10:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                  </table>
                </spoiler>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td style="padding:20px 20px 0 20px;">
        <table style="width:100%;border-spacing:1px;border-collapse:separate;background-color:#d8e2e4;">
          <tbody>
            <tr>
              <td style="background-color:#64758f;color:#d8e2e4;text-align:center;font-size:18px;font-weight:bold;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                Buy & Chase
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table style="width:100%;border-spacing:20px 0px;border-collapse:separate;">
          <tbody>
            <tr>
              <td>
                <table style="width:100%;border-spacing:2px;border-collapse:separate;background-color:#d8e2e4;color:#1c202c;">
                  <tbody>
                    <tr>
                      <td rowspan="4" style="width:25%;height:25%;padding:0;text-align:center;vertical-align:middle;">
                        <img src="https://i.imgur.com/jhdZZ6T.png" alt="" />
                      </td>
                      <td style="background-color:#F6F5F4;padding:0;text-align:center;vertical-align:middle;font-size:14px;font-weight:bold;">
                        B&C #1
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Female || 1 years 0 months
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <b>Saffron</b> || 7M || G13
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <b>Chased:</b> <i>2023-06-12</i> || <b>Status:</b> <i>Unknown</i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <spoiler text="Details">
                  <table style="width:100%;border-spacing:2px;border-collapse:separate;background-color:#d8e2e4;color:#1c202c;">
                    <tr>
                      <td colspan=4 style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <img src="https://i.imgur.com/EdKSixO.png" alt="" />
                      </td>
                    </tr>
                    <tr>
                      <td colspan=4 style="background-color:#F6F5F4;padding:10px;text-align:center;vertical-align:middle;font-size:11px;font-weight:bold;">
                        Looks
                      </td>
                    </tr>
                    <tr>
                      <td style="width:60px;background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Eyes:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Blue
                      </td>
                      <td style="width:60px;background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Nose:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Black
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Skin:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Marbled
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Claws:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Black
                      </td>
                    </tr>
                    <tr>
                      <td colspan=4 style="background-color:#F6F5F4;padding:10px;text-align:center;vertical-align:middle;font-size:11px;font-weight:bold;">
                        Markings
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 1:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Zircon Points (55% : T6)
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 6:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        White Merle (46% : T2)
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 2:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Hydrangea Lupos (48% : T3)
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 7:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 3:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        White Mask (75% : T0)
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 8:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Turquoise Urajiro (33% : T3)
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 4:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Red Undersides (28% : T1)
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 9:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 5:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 10:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Selene Ornate Spots (91% : T3)
                      </td>
                    </tr>
                  </table>
                </spoiler>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table style="width:100%;border-spacing:20px 0px;border-collapse:separate;">
          <tbody>
            <tr>
              <td>
                <table style="width:100%;border-spacing:2px;border-collapse:separate;background-color:#d8e2e4;color:#1c202c;">
                  <tbody>
                    <tr>
                      <td rowspan="4" style="width:25%;height:25%;padding:0;text-align:center;vertical-align:middle;">
                        <img src="https://i.imgur.com/C1o5h6q.png" alt="" />
                      </td>
                      <td style="background-color:#F6F5F4;padding:0;text-align:center;vertical-align:middle;font-size:14px;font-weight:bold;">
                        B&C #2
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Male || 1 years 0 months
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <b>Sarder</b> || 7M || G4
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <b>Chased:</b> <i>2023-06-13</i> || <b>Status:</b> <i>Unknown</i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <spoiler text="Details">
                  <table style="width:100%;border-spacing:2px;border-collapse:separate;background-color:#d8e2e4;color:#1c202c;">
                    <tr>
                      <td colspan=4 style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <img src="https://i.imgur.com/yFJPH7v.png" alt="" />
                      </td>
                    </tr>
                    <tr>
                      <td colspan=4 style="background-color:#F6F5F4;padding:10px;text-align:center;vertical-align:middle;font-size:11px;font-weight:bold;">
                        Looks
                      </td>
                    </tr>
                    <tr>
                      <td style="width:60px;background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Eyes:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Green
                      </td>
                      <td style="width:60px;background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Nose:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Pink
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Skin:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Pallid
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Claws:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Lusxnei
                      </td>
                    </tr>
                    <tr>
                      <td colspan=4 style="background-color:#F6F5F4;padding:10px;text-align:center;vertical-align:middle;font-size:11px;font-weight:bold;">
                        Markings
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 1:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Yellow Inuit Unders (55% : T7)
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 6:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        White Butcher (21% : T1)
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 2:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Cream Carnage (44% : T1)
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 7:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Black Inverted Cross (18% : T1)
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 3:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Deira Tamaskan Unders (27% : T6)
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 8:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 4:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        White Paws (32% : T1)
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 9:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Black Cross (18% : T1)
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 5:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 10:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                  </table>
                </spoiler>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table style="width:100%;border-spacing:20px 0px;border-collapse:separate;">
          <tbody>
            <tr>
              <td>
                <table style="width:100%;border-spacing:2px;border-collapse:separate;background-color:#d8e2e4;color:#1c202c;">
                  <tbody>
                    <tr>
                      <td rowspan="4" style="width:25%;height:25%;padding:0;text-align:center;vertical-align:middle;">
                        <img src="https://i.imgur.com/JOEzrvS.png" alt="" />
                      </td>
                      <td style="background-color:#F6F5F4;padding:0;text-align:center;vertical-align:middle;font-size:14px;font-weight:bold;">
                        B&C #3
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Male || 1 years 0 months
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <b>Antler</b> || 7M || G5
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <b>Chased:</b> <i>2023-06-13</i> || <b>Status:</b> <i>Unknown</i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <spoiler text="Details">
                  <table style="width:100%;border-spacing:2px;border-collapse:separate;background-color:#d8e2e4;color:#1c202c;">
                    <tr>
                      <td colspan=4 style="background-color:#b9c7d0;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <img src="https://i.imgur.com/7HrLOyf.png" alt="" />
                      </td>
                    </tr>
                    <tr>
                      <td colspan=4 style="background-color:#F6F5F4;padding:10px;text-align:center;vertical-align:middle;font-size:11px;font-weight:bold;">
                        Looks
                      </td>
                    </tr>
                    <tr>
                      <td style="width:60px;background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Eyes:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Ice
                      </td>
                      <td style="width:60px;background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Nose:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Lusxnei
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Skin:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Lusxnei
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Claws:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Fern
                      </td>
                    </tr>
                    <tr>
                      <td colspan=4 style="background-color:#F6F5F4;padding:10px;text-align:center;vertical-align:middle;font-size:11px;font-weight:bold;">
                        Markings
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 1:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 6:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Airglow Shaded (57% : T3)
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 2:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Merged Veneer (51% : T3)
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 7:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Sterling Wings (37% : T6)
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 3:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Honey Predator (37% : T1)
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 8:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 4:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Wisp Sprite (64% : T3)
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 9:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Honey Eyebrows (49% : T1)
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 5:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        ---
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;vertical-align:middle;font-size:10.5px;font-weight:bold;">
                        Slot 10:
                      </td>
                      <td style="background-color:#b9c7d0;padding:3px;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Silver Wings Heavy (21% : T6)
                      </td>
                    </tr>
                  </table>
                </spoiler>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td style="padding:20px;">
        <table style="width:100%;border-spacing:1px;border-collapse:separate;background-color:#d8e2e4;">
          <tbody>
            <tr>
              <td style="background-color:#b9c7d0;color:#1c202c;text-align:center;">
                <b>PLEASE DO NOT REPLY.</b>
                <br />
                The thread will be edited and bumped instead of adding replies for each chase for readability.
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding:0;">
        <img src="https://i.imgur.com/lBgvZjK.png" alt="" />
      </td>
    </tr>
  </tbody>
</table>
<p style="padding:0;text-align:center;font-size:10px;">
  Table by <a href="https://www.wolvden.com/profile/22924"><b>Iceclastic</b> (#22924)</a>
</p>