<table style="
  width: 100%;
  border-spacing: 15px;
  border-collapse: separate;
  border: 1px solid #393E41;
  background-color: #687278;
  color: #393E41;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11.5px;
">
  <tbody>
    <tr id="header">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #F6F5F4;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                background-color: #393E41;
                text-align: center;
                vertical-align: middle;
                font-size: 16px;
                font-weight: bold;
                font-family: 'Courier New', Courier, monospace;
                color: #F6F5F4;
              ">
                Hunters
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="saito">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/416208">Saito</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 40SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> --
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 600SC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #F6F5F4;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
                width: 25%;
              ">
                <b>100% Finisher</b><br />
                <i>4 years 11 months</i>
              </td>
              <td rowspan="8" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/f/52/e6/06/52e606aa79ec981ff34abd9d957509eae7dec0e9.416208.1605921191.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Marengo
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Female
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                339 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                10 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                ⭐️ Lazy
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="melna">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/389697">Melna</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 30SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> --
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 400SC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #F6F5F4;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
                width: 25%;
              ">
                <b>100% Stalker</b><br />
                <i>5 years 6 months</i>
              </td>
              <td rowspan="8" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/f/37/4a/75/374a75d450a8d56ab34dff61b2e69b3b6c2b3ee2.389697.1605922758.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Beige
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Female
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                356 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                8 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                ⭐️ Fair
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="melkin">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/375761">Melkin</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 30SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> --
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 400SC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #F6F5F4;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
                width: 25%;
              ">
                <b>100% Stalker</b><br />
                <i>4 years 5 months</i>
              </td>
              <td rowspan="8" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/f/59/6e/25/596e25fd921194357abb6c3bb4d53684aaa04df0.375761.1605922876.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Gray
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Male
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                327 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                3 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                🔥 Bossy
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="moh">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/374973">Moh</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 20SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> --
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 300SC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #F6F5F4;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
                width: 25%;
              ">
                <b>100% Chasing</b><br />
                <i>4 years 3 months</i>
              </td>
              <td rowspan="8" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/f/c4/71/71/c471717afa67fc1b8a55ce60db5efe1de8678f2f.374973.1605923151.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Cream
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Female
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                320 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                4 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                ⭐️ Scatterbrained
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="pommel">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/426522">Pommel</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 20SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> --
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 300SC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #F6F5F4;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
                width: 25%;
              ">
                <b>100% Chasing</b><br />
                <i>5 years 2 months</i>
              </td>
              <td rowspan="8" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/f/b2/74/8b/b2748b7414496d98af7d950a43366feefa0d7c1b.426522.1605921177.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Marengo
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Male
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                343 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                3 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                🔥 Arrogant
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="kiessa">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/494104">Kiessa</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 20SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> --
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 300SC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #F6F5F4;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
                width: 25%;
              ">
                <b>98% Chasing</b><br />
                <i>4 years 5 months</i>
              </td>
              <td rowspan="8" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/f/38/e0/6e/38e06e956472eafa36aa09506ab7294c11e5b67a.494104.1605922901.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Gold Darker
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Female
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                322 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                3 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                💗 Imaginative
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="marrow">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/381524">Marrow</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 20SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> --
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 300SC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #F6F5F4;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
                width: 25%;
              ">
                <b>100% Chasing</b><br />
                <i>4 years 4 months</i>
              </td>
              <td rowspan="8" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/f/db/c2/81/dbc2815ef65b5d917c32805c6716506281cc6e81.381524.1605926022.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Dark Brown
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Male
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                330 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                4 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                ☯️ Neutral
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p style="padding: 0; text-align: center; font-size: 10px">
  Table by <a href="https://www.wolvden.com/profile/22924"><b>Iceclastic</b> (#22924)</a>
</p>