<table style="
  width: 100%;
  border-spacing: 15px;
  border-collapse: separate;
  border: 1px solid #393E41;
  background-color: #687278;
  color: #393E41;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11.5px;
">
  <tbody>
    <tr id="header">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #F6F5F4;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                background-color: #393E41;
                text-align: center;
                vertical-align: middle;
                font-size: 16px;
                font-weight: bold;
                font-family: 'Courier New', Courier, monospace;
                color: #F6F5F4;
              ">
                Pupsitters
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="lilu">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/352887">Lilu</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 20SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> --
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 300SC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #F6F5F4;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
                width: 25%;
              ">
                <b>99% Pupsitter</b><br />
                <i>5 years 0 months</i>
              </td>
              <td rowspan="8" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/f/b6/e7/1e/b6e71e19e2e8ae4ad2097c2dbfa263374c0e09dc.352887.1605922989.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Caramel
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Female
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                289 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                3 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                💗 Confident
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="branch">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <s><a href="https://www.wolvden.com/wolf/228688">Branch</a></s> - SOLD!
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 20SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> AB by <a href="https://www.wolvden.com/profile/29666">JellyFishLace (#29666)</a>
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 300SC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #F6F5F4;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
                width: 25%;
              ">
                <b>99% Pupsitter</b><br />
                <i>2 years 8 months</i>
              </td>
              <td rowspan="8" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/f/f2/3c/7a/f23c7afb889ded665cd437947ac39b2076225938.228688.1605920973.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Dark Brown
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Male
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                228 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                2 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                🔥 Aggressive
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="header">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #F6F5F4;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                background-color: #393E41;
                text-align: center;
                vertical-align: middle;
                font-size: 16px;
                font-weight: bold;
                font-family: 'Courier New', Courier, monospace;
                color: #F6F5F4;
              ">
                Herbalist
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="dos">
      <td>
        <table style="
          width: 100%;
          border-spacing: 2px;
          border-collapse: separate;
          background-color: #ABA59C;
        ">
          <tbody>
            <tr>
              <td colspan="2" style="
                height: 80px;
                padding: 0;
              ">
                <table style="
                  width: 100%;
                  height: 100%;
                  border-spacing: 0;
                  border-collapse: separate;
                ">
                  <tbody>
                    <tr style="height: 100%;">
                      <td colspan="3" style="
                        background-color: #D3D0CB;
                        border-bottom: 2px solid #ABA59C;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 16px;
                        font-weight: bold;
                      ">
                        <a href="https://www.wolvden.com/wolf/371283">Dos</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>SB:</b> 40SC
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        border-right: 2px solid #ABA59C;
                        text-align: center;
                      ">
                        <b>CB:</b> --
                      </td>
                      <td style="
                        background-color: #D3D0CB;
                        text-align: center;
                      ">
                        <b>AB:</b> 600SC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #F6F5F4;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
                width: 25%;
              ">
                <b>91% Herbalist</b><br />
                <i>4 years 9 months</i>
              </td>
              <td rowspan="8" style="
                padding: 0;
                text-align: center;
                vertical-align: middle;
              ">
                <img src="https://img.wolvden.com/f/ee/43/39/ee43393db48b3297d2fdc923c02072e5098c2a6f.371283.1605926058.png" />
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Amber
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                Male
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                337 stats
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                3 markings
              </td>
            </tr>
            <tr>
              <td style="
                background-color: #D3D0CB;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                font-size: 10.5px;
              ">
                ⭐️ Humble
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p style="padding: 0; text-align: center; font-size: 10px">
  Table by <a href="https://www.wolvden.com/profile/22924"><b>Iceclastic</b> (#22924)</a>
</p>