<table style="width: 100%; border-spacing: 0px; border-collapse: separate; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 11px;">
  <tbody>
    <tr>
      <td style="border: 1px solid black; background-color: white; padding: 1px;">
          <img src="https://i.imgur.com/CWxUJHK.png" />
      </td>
    </tr>
    <tr>
      <td style="background-color: #1a2740; padding: 0px;">
        <table style="width: 100%; border-spacing: 20px; border-collapse: separate; border: 1px solid white;">
          <tbody>
            <tr id="summary">
              <td style="padding:0px;">
                <table style="width:100%;border-spacing:1px;border-collapse:separate;background-color:#dadde5;">
                  <tbody>
                    <tr>
                      <td style="background-color:#62708c;color:#dadde5;text-align:center;font-size:18px;font-weight:bold;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                        ~Welcome~
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b7becc;color:#1c202c;text-align:justify;padding:20px;">
                        <p>
                          Hello and welcome to my sales den! I work on a variety of projects that tend to leave me with a fair number of low-gen fully-trained wolves hanging around that could use new homes. I also have an incessant need to put my wolves in pretty little tables, so I've decided to keep this thread to track all of my upcoming and current sales :]
                        </p>
                        <p>
                          <b>What you need to know:</b>
                          <ul>
                            <li>All wolves will be 99% proficiency and over role cooldown when first put up for sale</li>
                            <li>All wolves will be kept at 100% hunger/mood while for sale</li>
                            <li>Wolves will generally be gen 3 or lower</li>
                            <li>Wolves will generally be unbred</li>
                          </ul>
                        </p>
                        <p>
                          <b>How to buy:</b>
                          <ul>
                            <li>Wolves will be posted to the TC on their sale date and a link will be added to their entry here.</li>
                            <li>Wolves can be claimed before their sale date. No down-payment is needed, but buyer will be expected to purchase the wolf within 48 hours of being posted to the TC on their sale date or the sale will be moved to public.</li>
                            <li>You may ask to purchase a wolf before their sale date, but I reserve the right to reject the offer if it would be too inconvenient to replace them at the time.</li>
                            <li>Wolf prices will <b>not</b> be lowered just because you're purchasing early unless their role is at 20% proficiency or below.</li>
                            <li>Wolf trades can be offered, but are much less likely to be accepted. Best offers will be yearling NBWs or pretty TII+ 6M+ 350s+ wolves of any generation.</li>
                          </ul>
                        </p>
                        Thanks for stopping by!
                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>
            <tr id="some_wolf">
              <td style="padding:0px;">
                <table style="width:100%;border-spacing:2px;border-collapse:separate;background-color:#dadde5;color:#1c202c;">
                  <tbody>
                    <tr>
                      <td rowspan="4" style="width:25%;height:25%;padding:0;text-align:center;vertical-align:middle;">
                        <img src="https://i.imgur.com/eJlKHiz.png" alt="" />
                      </td>
                      <td style="background-color:#F6F5F4;padding:0;text-align:center;vertical-align:middle;font-size:14px;font-weight:bold;">
                        Unnamed
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b7becc;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        Male || 1 years 0 months
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b7becc;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <b>Tuff</b> || 4M || G10
                      </td>
                    </tr>
                    <tr>
                      <td style="background-color:#b7becc;padding:0;text-align:center;vertical-align:middle;font-size:10.5px;">
                        <b>Chased:</b> 2023-06-03 || <b>Status:</b> <i>Unknown</i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>

        </table>

      </td>
    </tr>
    <tr>
        <td style="border: 1px solid black; background-color: white; padding: 1px;">
            <img src="https://i.imgur.com/CGqoqlY.png" />
        </td>
      </tr>
    </tbody>
</table>