<p>
  <b>Have a wolf you want trained?</b> I also offer in-den pupsitting and training services. Send me your pup or adolescent and I will keep them safely fed/amused/pupsat and train them in whatever stats/role you want while they're with me.
</p>
<p>PLEASE NOTE: this service would be considered a "promise transaction" - take a look at section 2.6 in the Wolvden <a href="https://www.wolvden.com/code">Code of Conduct</a> to understand your protections. While I intend this service to be in good faith, it's always best to understand the risks of any transaction of this kind.</p>
<p>
  <b>How it works:</b>
  <ul>
    <li>Request pup training from me either here or in my DMs to ensure I have space first</li>
    <li>Once I've agreed to host your pups, send me a gift with the pups to be trained and the down-payment</li>
    <li>A down-payment of 100sc or 50% of the total cost (whichever is lower)</li>
  </ul>
</p>