<table style="
  width: 100%;
  border-collapse: separate;
  border: 1px solid #4E6E58;
  border-spacing: 30px;
  background-color: #FAF7F0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11.5px;
  line-height: 1.8;
">
  <tbody style="
    background: #EAF2EF;
  ">
    <tr>
      <td style="
        background: white;
        border: 2px solid #4E6E58;
        padding: 15px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.4em;
        color: #4E6E58;
        font-weight: bold;
      ">
        Header
      </td>
    </tr>
    <tr>
      <td style="
        background: #AA5042;
        border: 2px solid white;
        padding: 12px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.1em;
        color: #FFF;
        font-weight: bold;
      ">
        SubHeader
      </td>
    </tr>
    <tr>
      <td style="
        padding: 0 30px;
        text-align: justify;
      ">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non rhoncus ex, ut mattis arcu. Sed feugiat lacus quis suscipit finibus. Phasellus at efficitur libero. Fusce porttitor est et nulla condimentum, in faucibus risus porta. Ut non vestibulum turpis, a dignissim urna. Suspendisse potenti. Curabitur luctus, lorem nec vehicula aliquam, quam lorem suscipit dolor, in vehicula ex diam at lectus. Nulla pharetra arcu eget imperdiet blandit. Pellentesque molestie volutpat purus ut aliquet. Ut magna leo, aliquam id molestie eu, suscipit in justo. Suspendisse hendrerit, ex condimentum viverra porta, tellus quam facilisis risus, eu sollicitudin nunc purus eget augue. Fusce sollicitudin enim in ante pulvinar vehicula. Curabitur ligula leo, consequat ac sagittis ultricies, sodales sit amet metus. Morbi finibus tellus ac diam euismod, eleifend fringilla lacus vestibulum. Nunc vehicula sollicitudin nunc, et ullamcorper libero varius dictum.
      </td>
    </tr>
    <tr>
      <td style="
        background: #AA5042;
        border: 2px solid white;
        padding: 12px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.1em;
        color: #FFF;
        font-weight: bold;
      ">
        SubHeader 2
      </td>
    </tr>
    <tr>
      <td style="
        padding: 0 30px;
        text-align: justify;
      ">
        Aliquam euismod sed dui sed tempus. Nam ut tortor vehicula, condimentum nibh sit amet, finibus dolor. Proin tincidunt lacus lobortis, facilisis mauris non, sagittis ante. Integer condimentum, lacus nec euismod hendrerit, metus neque dignissim felis, facilisis fringilla metus libero nec tellus. Praesent pellentesque posuere urna, quis tincidunt libero sodales sed. Fusce enim urna, lobortis a ex at, accumsan mattis orci. Vivamus ultrices libero sit amet tincidunt gravida. Phasellus eget facilisis sapien, vel dignissim ex. Etiam non finibus tellus, sit amet ultrices nisl.
      </td>
    </tr>
  </tbody>
</table>