<table style="width:100%;border-collapse:separate;border:1px solid #4E6E58;border-spacing:30px;background-color:#FAF7F0;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:11.5px;line-height:1.8;"><tbody><tr><td style="background:#FFFFFF;border:2px solid #4E6E58;padding:15px;text-align:center;font-family:'Courier New', Courier, monospace;font-size:1.4em;color:#4E6E58;font-weight:bold;">
  Looking for High Stat Wolf!
</td>
</tr><tr><td style="padding:0 30px;text-align:justify;">
  Hey all! I'm in the market for some higher stat wolves, and I am simply overflowing with food right now. Let's see if we can work something out~
</td>
</tr><tr><td style="background:#AA5042;border:2px solid #FFFFFF;padding:12px;text-align:center;font-family:'Courier New', Courier, monospace;font-size:1.1em;color:#FFF;font-weight:bold;">
  What I'm Offering
</td>
</tr><tr><td style="padding:0 30px;text-align:justify;">
  <b>Food!</b><br />
  - 200 uses<br />
  - A week+ fresh<br />
  - 8+ use carcasses (and 3 Large Chunks to round it off)<br /><br />
  [<a href="https://www.wolvden.com">Link to trade</a>]
</td>
</tr><tr><td style="background:#AA5042;border:2px solid #FFFFFF;padding:12px;text-align:center;font-family:'Courier New', Courier, monospace;font-size:1.1em;color:#FFF;font-weight:bold;">
  What I'm Looking For
</td>
</tr><tr><td style="padding:0 30px;text-align:justify;">
  <b>High Stat Wolf</b><br />
  - 300+ stats (female) / 350+ stat (male)<br />
  - Any age<br />
  - Any base<br />
  - Any markings<br /><br />
  <b>Preference will be given to (in order):</b><br />
  - High stats<br />
  - Females<br />
  - Adolescents<br />
  - Tier II<br />
  - Cool Light<br />
  <i>Don't have one of those? You can still offer! As long as it meets the stats requirement, I'll consider them :]</i>
</td>
</tr><tr><td style="background:#AA5042;border:2px solid #FFFFFF;padding:12px;text-align:center;font-family:'Courier New', Courier, monospace;font-size:1.1em;color:#FFF;font-weight:bold;">
  Rules
</td>
</tr><tr><td style="padding:0 30px;text-align:justify;">
  - Be respectful. Any harrassing of me or other members in this thread will result in getting blacklisted.
  - You can reply to this thread with a link to your wolf, or offer directly to the trade.<br />
  - You may offer multiple options, but I will only take 1 wolf.<br />
  - Decision will be made <b>tomorrow (11/13) at 18:00 Wolvden time</b><br />
  - If you have an adult or adol about to age that you can't keep over rollover, please PM directly.<br />
</td>
</tr></tbody></table>

<table style="width:100%;border-collapse:separate;border:1px solid #4E6E58;border-spacing:30px;background-color:#FAF7F0;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:11.5px;line-height:1.8;"><tbody><tr><td style="background:#AA5042;border:2px solid #FFFFFF;padding:12px;text-align:center;font-family:'Courier New', Courier, monospace;font-size:1.1em;color:#FFF;font-weight:bold;">
  Current Offers
</td>
</tr><tr><td style="padding:0 30px;text-align:justify;">
  <b><a href="https://www.wolvden.com">Username</a></b><br />
  - <a href="https://www.wolvden.com">Wolf #</a>
</td>
</tr></tbody></table>

https://www.wolvden.com/chatter/topic/144619 Offering 200 food uses for a 300+ stat wolf! Any age, any base, any markings! NBW Friendly!