<table style="
  width: 100%;
  border-spacing: 1px;
  border-collapse: separate;
  border: 1px solid #ffffff;
  background-color: #0b0b0b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11.5px;
">
  <tbody>
    <tr id="top">
      <td style="
        padding: 0;
      ">
        <img src="https://i.imgur.com/RYdWS8c.png" />
      </td>
    </tr>
    <tr id="body">
      <td>
        <table style="
          width: 100%;
          border-spacing: 20px;
          border-collapse: separate;
        ">
          <tbody>
            <tr id="inro">
              <td style="
                border: 2px solid #d8e2e4;
                background-color: #b9c7d0;
                color: #1c202c;
                text-align: center;
              ">
                <b>This auction is not active until November 30th. Please DO NOT BID until then.</b><br /><br />
                It's time for a new round of puppies! I have a few I've bred, and a few from my breeding partner <a href="https://www.wolvden.com/profile/3188">Poette (#3188)</a>.<br /><br />
                <b>1GC = 80SC</b><br />
                <i>You can pay in any combination of GC and SC. Bids will be recorded in the currency the last bidder used, but you may bid with a different currency/combo.</i><br /><br />
                <b>Sex Changer Special</b><br />
                <i>You can bundle a sex changer with any auction win or flatsale purchase for an additional 2GC/160SC (33% off grove price)</i>
              </td>
            </tr>
            <tr id="rules">
              <td style="
                border: 2px solid #d8e2e4;
                background-color: #b9c7d0;
                color: #1c202c;
              ">
                <p style="
                  text-align: center;
                  font-weight: bold;
                  text-decoration: underline;
                ">
                  Rules
                </p>
                <ul>
                  <li>Be respectful! Harassing behavior will get you blacklisted.</li>
                  <li>Do not beg or whine, or anything else to make other bidders uncomfortable.</li>
                  <li>Only bid what you have! Retracting bids will get you blacklisted. If you feel you have a legitimate reason, please DM me.</li>
                  <li>This auction will end <b>December 4th, 18:00 Wolvden Time</b>.</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="bottom">
      <td style="
        padding: 0;
      ">
        <img src="https://i.imgur.com/lBgvZjK.png" />
      </td>
    </tr>
  </tbody>
</table>
<p style="padding: 0; text-align: center; font-size: 10px">
  Table by <a href="https://www.wolvden.com/profile/22924"><b>Iceclastic</b> (#22924)</a>
</p>