<table style="
  width: 100%;
  border-spacing: 1px;
  border-collapse: separate;
  border: 1px solid #ffffff;
  background-color: #0b0b0b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11.5px;
">
  <tbody>
    <tr id="top">
      <td style="
        padding: 0;
      ">
        <img src="https://i.imgur.com/TMlUu1J.png" />
      </td>
    </tr>
    <tr id="body">
      <td>
        <table style="
          width: 100%;
          border-spacing: 20px;
          border-collapse: separate;
        ">
          <tbody>
            <tr id="header">
              <td style="
                border: 2px solid #d8e2e4;
                background-color: #64758f;
                color: #d8e2e4;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              ">
                Auctions: Tier II
              </td>
            </tr>
            <tr id="mimosa">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/843102">Mimosa</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/93/26/56/93265675957ad818f3c14bdcc575767b4a0a7706.843102.1606592229.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/u7Qi6ZG.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Pale</b><br />
                        <i>Tier II</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Male
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        3 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        299 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        🔥 Vulgar
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="maple">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/784840">Maple</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/2e/5f/63/2e5f6320e27b95f05232d665141172b6de14634a.784840.1606599339.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/cWfMZv4.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Antler</b><br />
                        <i>Tier II | Breed-only</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Female
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        3 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        260 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        ⭐️ Optimistic
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="eazam">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/792027">Eazam</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/d0/2b/46/d02b46de628ab28a60c914f5bad3d2e7e384e77f.792027.1606549622.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/vo21N7I.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Antler</b><br />
                        <i>Tier II | Breed-only</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Female
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        9 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        269 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        💗 Capable
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="farkut">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/843604">Farkut</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/7d/94/69/7d94697589832acd39479cc125d5480280b43559.843604.1606591257.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/FAoHWN7.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Denim</b><br />
                        <i>Tier II | Breed-only</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Female
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        6 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        262 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        💗 Precise
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="clear water">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/845647">Clear Water</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/89/29/3e/89293e99f2ccc0b44c8225f39f18af382ba417d9.845647.1606521036.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/rczsSjP.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Pecan</b><br />
                        <i>Tier II</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Male
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        5 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        283 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        ☯️ Neutral
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="solak">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/760451">Solak</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/d1/0d/32/d10d32e994e58497819ac9bbd0f39a1bd93d1eef.760451.1606595224.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/bugV3wd.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Pecan</b><br />
                        <i>Tier II</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Female
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        5 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        365 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        💗 Charming
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="kaiser">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/843386">Kaiser</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/fe/99/45/fe9945cc79eaa76cca5984267b881c79b0e6f72b.843386.1606549622.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/NQMK9Td.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Tawny</b><br />
                        <i>Tier II</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Male
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        6 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        316 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        🔥 Vulgar
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="bottom">
      <td style="
        padding: 0;
      ">
        <img src="https://i.imgur.com/lBgvZjK.png" />
      </td>
    </tr>
  </tbody>
</table>
<p style="padding: 0; text-align: center; font-size: 10px">
  Table by <a href="https://www.wolvden.com/profile/22924"><b>Iceclastic</b> (#22924)</a>
</p>