<table style="
  width: 100%;
  border-spacing: 1px;
  border-collapse: separate;
  border: 1px solid #ffffff;
  background-color: #0b0b0b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11.5px;
">
  <tbody>
    <tr id="top">
      <td style="
        padding: 0;
      ">
        <img src="https://i.imgur.com/TMlUu1J.png" />
      </td>
    </tr>
    <tr id="body">
      <td>
        <table style="
          width: 100%;
          border-spacing: 20px;
          border-collapse: separate;
        ">
          <tbody>
            <tr id="header">
              <td style="
                border: 2px solid #d8e2e4;
                background-color: #64758f;
                color: #d8e2e4;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              ">
                Auctions: Tier I
              </td>
            </tr>
            <tr id="soft">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/844794">Soft</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/64/8c/15/648c15a1e9cf2df805ed362e2ad4972f00609f0f.844794.1606672873.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/nwviM6W.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Shell</b><br />
                        <i>Tier I | Breed-only</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Male
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        4 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        305 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        💗 Precise
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="balboa">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/843384">Balboa</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/30/08/d7/3008d745e772bf17199cb0f27dd146fedd0cb4f9.843384.1606549622.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/ZTMdtuj.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Chestnut</b><br />
                        <i>Tier I | Breed-only</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Female
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        4 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        313 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        💗 Precise
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="murmur">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/844795">Murmur</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/7e/6a/05/7e6a05e4a8e60af26757edee4e83b80a026dfc4a.844795.1606520936.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/hyW9qBt.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Apricot</b><br />
                        <i>Tier I</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Male
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        6 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        313 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        💗 Dedicated
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="kozi">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/760450">Kozi</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/ed/8c/f5/ed8cf506df7c2e3aca61b7dd042266d80c7f361d.760450.1606550046.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/SP4f9HZ.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Dark Brown</b><br />
                        <i>Tier I</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Male
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        5 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        360 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        ⭐️ Amiable
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="bottom">
      <td style="
        padding: 0;
      ">
        <img src="https://i.imgur.com/lBgvZjK.png" />
      </td>
    </tr>
  </tbody>
</table>
<p style="padding: 0; text-align: center; font-size: 10px">
  Table by <a href="https://www.wolvden.com/profile/22924"><b>Iceclastic</b> (#22924)</a>
</p>