<table style="
  width: 100%;
  border-spacing: 1px;
  border-collapse: separate;
  border: 1px solid #ffffff;
  background-color: #0b0b0b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11.5px;
">
  <tbody>
    <tr id="top">
      <td style="
        padding: 0;
      ">
        <img src="https://i.imgur.com/TMlUu1J.png" />
      </td>
    </tr>
    <tr id="body">
      <td>
        <table style="
          width: 100%;
          border-spacing: 20px;
          border-collapse: separate;
        ">
          <tbody>
            <tr id="header">
              <td style="
                border: 2px solid #d8e2e4;
                background-color: #64758f;
                color: #d8e2e4;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              ">
                Flatsales: Tier II
              </td>
            </tr>
            <tr id="still water">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/845645">Still Water</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/ab/51/d7/ab51d7b99866c3c3825dffefa99775199000706e.845645.1606520965.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/nBTU3a2.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Denim</b><br />
                        <i>Tier II | Breed-only</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Male
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        4 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        285 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        ⭐️ Fair
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="festen">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/843103">Festen</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/b2/e8/3a/b2e83a7163466f4a551e9dc29062b29c5bf2fcb0.843103.1606549622.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/QgjoUeT.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Sky</b><br />
                        <i>Tier II | Breed-only</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Male
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        6 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        300 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        🔥 Sarcastic
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="markos">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/774272">Markos</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/eb/77/18/eb7718b6b81339de8153b35b14321fa3c91a65ad.774272.1606673715.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/T163I7s.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Diorite</b><br />
                        <i>Tier II</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Male
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        3 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        220 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        ☯️ Independent
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="bottom">
      <td style="
        padding: 0;
      ">
        <img src="https://i.imgur.com/lBgvZjK.png" />
      </td>
    </tr>
  </tbody>
</table>
<p style="padding: 0; text-align: center; font-size: 10px">
  Table by <a href="https://www.wolvden.com/profile/22924"><b>Iceclastic</b> (#22924)</a>
</p>