<table style="
  width: 100%;
  border-spacing: 1px;
  border-collapse: separate;
  border: 1px solid #ffffff;
  background-color: #0b0b0b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11.5px;
">
  <tbody>
    <tr id="top">
      <td style="
        padding: 0;
      ">
        <img src="https://i.imgur.com/TMlUu1J.png" />
      </td>
    </tr>
    <tr id="body">
      <td>
        <table style="
          width: 100%;
          border-spacing: 20px;
          border-collapse: separate;
        ">
          <tbody>
            <tr id="header">
              <td style="
                border: 2px solid #d8e2e4;
                background-color: #64758f;
                color: #d8e2e4;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              ">
                Flatsales: Tier I
              </td>
            </tr>
            <tr id="allay">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/844793">Allay</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/62/12/ba/6212ba17f80828b18dd2203946bb928a9dd26785.844793.1606520873.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/M5BNc3s.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Willow</b><br />
                        <i>Tier I | Breed-only</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Female
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        5 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        305 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        💗 Trusting
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="greer">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/844792">Greer</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/f7/f1/09/f7f10971221916e57a9ca71b9d077fb8f738778c.844792.1606549855.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/aZ8Oa3m.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Ashen</b><br />
                        <i>Tier I</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Male
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        4 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        314 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        ☯️ Independent
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="black water">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/845646">Black Water</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/b3/9f/c9/b39fc9dd3bac815db78fd337dd92d5278b50defa.845646.1606521003.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/XwFfdQy.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Black</b><br />
                        <i>Tier I</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Male
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        6 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        283 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        💗 Imaginative
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="rex">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/843385">Rex</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/97/59/b1/9759b1390082b0e5ec86f01d677b1c7bbed93984.843385.1606549622.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/HlGUjZS.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Cream Darker</b><br />
                        <i>Tier I</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Male
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        4 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        320 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        💗 Precise
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="decco">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/843603">Decco</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/de/8f/e0/de8fe0f1881354595572d9259217b7e5f43022a0.843603.1606655212.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/07dfVCd.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Khaki</b><br />
                        <i>Tier I</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Male
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        6 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        258 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        💗 Keen
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="lila">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/843605">Lila</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/10/66/cd/1066cddbb1e7cdc029ab1e04c2370ca9aae92886.843605.1606655212.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/4fxXvke.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Caramel</b><br />
                        <i>Tier I</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Female
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        4 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        259 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        💗 Trusting
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr id="myrup">
              <td>
                <table style="
                  width: 100%;
                  border-spacing: 2px;
                  border-collapse: separate;
                  background-color: #d8e2e4;
                  color: #1c202c;
                ">
                  <tbody>
                    <tr>
                      <td colspan="2" style="
                        height: 80px;
                        padding: 0;
                      ">
                        <table style="
                          width: 100%;
                          height: 100%;
                          border-spacing: 0;
                          border-collapse: separate;
                        ">
                          <tbody>
                            <tr style="height: 100%;">
                              <td colspan="3" style="
                                background-color: #b9c7d0;
                                border-bottom: 2px solid #d8e2e4;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                              ">
                                <a href="https://www.wolvden.com/wolf/843607">Myrup</a>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>SB:</b> ???
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                border-right: 2px solid #d8e2e4;
                                text-align: center;
                              ">
                                <b>CB:</b> --</a>
                              </td>
                              <td style="
                                background-color: #b9c7d0;
                                text-align: center;
                              ">
                                <b>AB:</b> ???
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        width: 25%;
                        height: 25%;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://img.wolvden.com/h/5f/71/47/5f7147ec6f17625254b5979456ecd14b8c49349b.843607.1606655212.png" />
                      </td>
                      <td rowspan="6" style="
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                      ">
                        <img src="https://i.imgur.com/ERmnMOM.png" />
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        <b>Honey</b><br />
                        <i>Tier I</i>
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        Male
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        6 markings
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        246 stats
                      </td>
                    </tr>
                    <tr>
                      <td style="
                        background-color: #b9c7d0;
                        padding: 0;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 10.5px;
                      ">
                        💗 Trusting
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="bottom">
      <td style="
        padding: 0;
      ">
        <img src="https://i.imgur.com/lBgvZjK.png" />
      </td>
    </tr>
  </tbody>
</table>
<p style="padding: 0; text-align: center; font-size: 10px">
  Table by <a href="https://www.wolvden.com/profile/22924"><b>Iceclastic</b> (#22924)</a>
</p>