<table style="
  width: 100%;
  border-spacing: 1px;
  border-collapse: separate;
  border: 1px solid #ffffff;
  background-color: #0b0b0b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11.5px;
">
  <tbody>
    <tr id="body">
      <td>
        <table style="
          width: 100%;
          border-spacing: 20px;
          border-collapse: separate;
        ">
          <tbody>
            <tr id="header">
              <td style="
                border: 2px solid #d8e2e4;
                background-color: #64758f;
                color: #d8e2e4;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              ">
                Reserved
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>